.Main-support-chat__content {
    margin-top: 69px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}
.Main-support-chat__content-message {

}
.Main-support-chat__content-list > li {
    border-top: 1px solid #DFE0EB;
    padding: 30px 30px 30px 30px;
    min-height: 162px;
}
.Main-support-chat__content-item {
    display: flex;
    justify-content: space-between;
}
.Main-support-chat__user-chat {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Main-support-chat__user-info {
    display: flex;
    align-items: center;
    gap: 16px;
}
.Main-support-chat__user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}
.Main-support-chat__user-image img {
    border-radius: 50%;
}
.Main-support-chat__user-message {
    width: 90%;
    margin-left: 48px;
    color: var(--black-blue);
}
.Main-support-chat__user-message-setting {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.Main-support-chat__message-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.Main-support-chat__message-menu > div {
    border: 1px solid #DFE0EB;
    border-radius: 4px;
}
.Main-support-chat__setting-content {
    overflow: hidden;
    right: 0%;
    width: 200px;
    display: inline-block;
}
.Main-support-chat__setting-item {
    display: flex;
    padding: 16px;
    color: var(--gray);
    width: 100%;
    transition: 0.2s all;
}
.Main-support-chat__setting-item:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}
.Main-support-chat__message-date {
    display: flex;
    justify-content: flex-end;
    color: var(--gray);
}
