.Main-history-documents-table{

  &__content-table{
    width: 100%;
    table{
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      padding-left: 30px;
      th{
        color: var(--gray);
        span{
          display: flex;
          gap: 6px;
        }
      }
      td,th{
        border-bottom: 1px solid #DFE0EB;
        width: 400px;
        padding-left: 30px;
      }
      tr:not(:last-child) > th:nth-last-child(-n+2),tr:not(:last-child) > td:nth-last-child(-n+2){
        span{
          display: block;
          text-align: center;
        }
        div{
          margin: 0 auto;
        }
      }
      td{
        height: 91px;
      }
      tr:hover:not(:last-child),tr:hover:not(td:last-child){
        background-color: #F7F8FF;
        cursor: pointer;
        z-index: -1;
      }
      .td-bold{
        font-weight: 500;
      }
      //tr{
      //  display: grid;
      //  grid-template-columns: 130px 192px 254px 194px 290px 150px 104px 70px 80px;
      //}

    }
  }
  &__content-icons{
    display: flex;
    gap: 4px;
  }



}