.select{
  width: 100%;
  cursor:pointer;
  height: 40px;
  position: relative;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #EBEDF0;
  display:flex;
  align-items: center;
  padding-left: 14px;
  z-index: 1;
}

.select-radius{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.select-input{
  display: none;
}
.select-list{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  opacity:0;
  overflow-y:scroll;
  overflow: hidden;
  height: revert;
  border-top: none;
  border-left: 1px solid #EBEDF0;
  border-right: 1px solid #EBEDF0;
  border-bottom: 1px solid #EBEDF0;
  background-color: white;
  z-index: 2;
}
.select-active{
  animation: select-active 0.3s;
  animation-fill-mode:forwards;
}
.select-disable{
  animation: select-disable 0.3s;
  animation-fill-mode:forwards;
}
.select-item{
  transition: 0.3s;
  padding: 10px 14px 10px 14px;
}
.select-item:hover{
  background-color: #DDDDDD;
}

@keyframes select-active{
  from{
    opacity:0;
  }
  to{
    opacity:1;
    height: 500%;
  }
}

@keyframes select-disable{
  from{
    opacity:1;
    height: 500%;
  }
  to{
    opacity:0;
  }
}