.select, .multi-select {
    width: 100%;
    cursor: pointer;
    height: 40px;
    position: relative;
    border-radius: 8px;
    background-color: #FCFDFE;
    border: 1px solid #EBEDF0;
    display: flex;
    align-items: center;
    padding-left: 14px;
    color: #4B506D;
}

.select:before, .multi-select:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #FFF url("../public/arrow-select.svg") no-repeat center;
    position: absolute;
    right: 15px;
    bottom: 50%;
    background-size: 20px 20px;
    transform: translateY(50%);
    display: block;
    transition: 0.2s ease-in;
}

.select.open:before, .multi-select.open:before {
    content: " ";
    transform: translateY(50%) rotate(180deg);
}

.select-list::-webkit-scrollbar, .multi-select-list::-webkit-scrollbar {
    width: 0;
}

.select-radius {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.select-input {
    display: none;
}

.select-list, .multi-select-list {
    position: absolute;
    left: -1px;
    top: 100%;
    width: calc(100% + 2px);
    opacity: 0;
    z-index: 3;
    visibility: hidden;
    overflow-y: scroll;
    height: revert;
    border-top: none;
    border-left: 1px solid #EBEDF0;
    border-right: 1px solid #EBEDF0;
    border-bottom: 1px solid #EBEDF0;
    background-color: white;
    scrollbar-width: none;
}

.select-active {
    animation: select-active 0.3s;
    animation-fill-mode: forwards;
}

.select-disable {
    animation: select-disable 0.3s;
    animation-fill-mode: forwards;
}

.select-item {
    transition: 0.3s;
    padding: 10px 14px 10px 14px;
}

.select-item:hover, .multi-select-item:hover {
    background-color: #DDDDDD;
}

.selected, .multi-selected {
    font-weight: 400;
    font-size: 14px;
}

@keyframes select-active {
    from {
        visibility: hidden;
        opacity: 0;
        height: 550%;
    }
    to {
        opacity: 1;
        visibility: visible;
        height: 550%;
    }
}
@keyframes select-disable {
    from {
        opacity: 1;
        visibility: visible;
        height: 550%;
    }
    to {
        opacity: 0;
        visibility: hidden;
        height: 550%;
    }
}
.multi-select-item.form-item-select {
    padding: 5px 10px 5px 16px;
}
.multi-select-item.form-item-select div {
    gap: 0;
}
.multi-select-item.form-item-select span {
    text-transform: none;
    color: #4B506D;
    font-weight: 400;
}