.sideBar-menu {
  position: relative;
  width: 255px;
  min-height: 100vh;
  background-color: var(--black-light);
}
.sideBar-menu__inner {
  overflow: hidden;
}
.sideBar-menu__inner img {
  margin: 22px 0px 0px 22px;
}
.sideBar-menu__menu {
  margin-top: 21px;
  width: 100%;
}
.sideBar-menu__list {
  display: flex;
  flex-direction: column;
}
.sideBar-menu__item {
  width: 255px;
  height: 56px;
  cursor: pointer;
  border-left: 3px solid transparent;
}
.sideBar-menu__item a {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 30px;
  position: relative;
  gap: 15px;
  height: 56px;
  width: 100%;
  color: var(--white);
}
.sideBar-menu__button-hide {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -13px;
  top: 75px;
  width: 26px;
  height: 26px;
  background-color: var(--black-light);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.sideBar-menu__item-active {
  border-left: 3px solid white;
  background-color: var(--black-hover);
}
.sideBar-menu__item:hover {
  background-color: var(--black-hover);
}

.sideBar-active {
  animation: sideBar-active 1s ease;
  animation-fill-mode: forwards;
}

.sideBar-disable {
  animation: sideBar-disable 1s ease;
  animation-fill-mode: forwards;
}

@keyframes sideBar-active {
  from {
    width: 255px;
  }
  to {
    width: 87px;
  }
}
@keyframes sideBar-disable {
  from {
    width: 87px;
  }
  to {
    width: 255px;
  }
}
.Main-packages-form {
  width: 100%;
  min-height: 100vh;
  padding: 24px 30px 10px 30px;
}
.Main-packages-form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}
.Main-packages-form__top-right, .Main-packages-form__top-right-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Main-packages-form__top-right-border {
  border-left: 1px solid var(--black-light);
  height: 34px;
}
.Main-packages-form__top-right-user-name {
  width: 190px;
}
.Main-packages-form__top-right-user-name span:last-child {
  color: var(--gray);
}
.Main-packages-form__content {
  margin-top: 69px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
}
.Main-packages-form__content-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 42px 30px;
}
.Main-packages-form__content-top-search {
  display: flex;
  gap: 30px;
}
.Main-packages-form__content-form-packages {
  padding-left: 30px;
  height: 720px;
}
.Main-packages-form__content-form-packages-inner {
  display: grid;
  grid-template-columns: 344px 344px 344px 344px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b c d" "e f f u";
  gap: 40px;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(1) {
  grid-area: a;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(2) {
  grid-area: b;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(3) {
  grid-area: c;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(4) {
  grid-area: d;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(5) {
  grid-area: e;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(6) {
  width: 100%;
  grid-area: f;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:nth-child(7) {
  grid-area: u;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:last-child {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:last-child div {
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 8px;
  height: 40px;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:last-child label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: var(--blue);
  cursor: pointer;
}
.Main-packages-form__content-form-packages-inner > .Main-packages-form__content-form-item:last-child input {
  display: none;
}
.Main-packages-form__content-form-item {
  width: 344px;
}
.Main-packages-form__content-form-item div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Main-packages-form__content-form-item span {
  text-transform: uppercase;
  color: var(--gray);
}
.Main-packages-form__content-form-item select {
  width: 100%;
  background-size: 20px 20px;
  background-position-x: 308px;
}
.Main-packages-form__content-form-item select option {
  font-weight: 400;
}
.Main-packages-form__content-form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 24px;
}
.Main-packages-form__content-form-buttons a:nth-child(1) {
  color: var(--gray);
}
.Main-packages-form__content-form-buttons a:nth-child(2) {
  color: white;
  background-color: var(--blue-light);
}
.Main-packages-form__content-form-buttons a:nth-child(3) {
  color: red;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid red;
}

.Main-packages-table {
  width: 100%;
  min-height: 100vh;
  padding: 24px 30px 10px 30px;
}
.Main-packages-table__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}
.Main-packages-table__top-right, .Main-packages-table__top-right-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Main-packages-table__top-right-border {
  border-left: 1px solid var(--black-light);
  height: 34px;
}
.Main-packages-table__top-right-user-name {
  width: 190px;
}
.Main-packages-table__top-right-user-name span:last-child {
  color: var(--gray);
}
.Main-packages-table__content {
  margin-top: 69px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
}
.Main-packages-table__content-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 42px 30px;
}
.Main-packages-table__content-top-search {
  display: flex;
  gap: 30px;
}
.Main-packages-table__content-top-btn-add {
  background-color: var(--blue-light);
  color: var(--white);
}
.Main-packages-table__content-top-btn-import {
  background-color: var(--green);
  color: var(--white);
}
.Main-packages-table__content-top-search > div {
  width: 224px;
  position: relative;
}
.Main-packages-table__content-top-search > div input {
  width: 100%;
}
.Main-packages-table__content-top-search > div input::placeholder {
  color: var(--gray-light);
}
.Main-packages-table__content-table {
  width: 100%;
}
.Main-packages-table__content-table table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding-left: 30px;
}
.Main-packages-table__content-table table th {
  color: var(--gray);
}
.Main-packages-table__content-table table th span {
  display: flex;
  gap: 6px;
}
.Main-packages-table__content-table table td, .Main-packages-table__content-table table th {
  border-bottom: 1px solid #DFE0EB;
  width: 400px;
  padding-left: 30px;
}
.Main-packages-table__content-table table td {
  height: 91px;
}
.Main-packages-table__content-table table tr:hover:not(:last-child) {
  background-color: #F7F8FF;
  cursor: pointer;
}
.Main-packages-table__content-table table .td-bold {
  font-weight: 500;
}
.Main-packages-table__content-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 81px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}
.Main-packages-table__content-pagination-select {
  display: flex;
  gap: 10px;
}
.Main-packages-table__content-pagination-select span {
  color: var(--gray);
  font-weight: 400;
}
.Main-packages-table__content-pagination-select select {
  width: 50px;
  border: none;
  font-weight: 400;
  color: #4B506D;
}
.Main-packages-table__content-pagination-transition {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gray);
  font-weight: 400;
}
.Main-packages-table__content-pagination-transition span {
  font-weight: 400;
}
.Main-packages-table__content-pagination-transition-arrows {
  margin-left: 16px;
}
.Main-packages-table__content-pagination-transition-arrows svg {
  cursor: pointer;
}
.Main-packages-table__content-pagination-transition-arrows svg:last-child {
  transform: rotate(180deg);
}

.Main-user-table {
  width: 100%;
  min-height: 100vh;
  padding: 24px 30px 10px 30px;
}
.Main-user-table__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}
.Main-user-table__top-right, .Main-user-table__top-right-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Main-user-table__top-right-border {
  border-left: 1px solid var(--black-light);
  height: 34px;
}
.Main-user-table__top-right-user-name {
  width: 190px;
}
.Main-user-table__top-right-user-name span:last-child {
  color: var(--gray);
}
.Main-user-table__content {
  margin-top: 69px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
}
.Main-user-table__content-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 42px 30px;
}
.Main-user-table__content-top-search {
  display: flex;
  gap: 30px;
}
.Main-user-table__content-top-btn-add {
  background-color: var(--blue-light);
  color: var(--white);
}
.Main-user-table__content-top-btn-import {
  background-color: var(--green);
  color: var(--white);
}
.Main-user-table__content-top-search > div {
  width: 224px;
  position: relative;
}
.Main-user-table__content-top-search > div input {
  width: 100%;
}
.Main-user-table__content-top-search > div input::placeholder {
  color: var(--gray-light);
}
.Main-user-table__content-table {
  width: 100%;
}
.Main-user-table__content-table table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding-left: 30px;
}
.Main-user-table__content-table table th {
  color: var(--gray);
}
.Main-user-table__content-table table th span {
  display: flex;
  gap: 6px;
}
.Main-user-table__content-table table td, .Main-user-table__content-table table th {
  border-bottom: 1px solid #DFE0EB;
  width: 400px;
  padding-left: 30px;
}
.Main-user-table__content-table table td {
  height: 91px;
}
.Main-user-table__content-table table tr:hover:not(:last-child) {
  background-color: #F7F8FF;
  cursor: pointer;
}
.Main-user-table__content-table table .td-bold {
  font-weight: 500;
}
.Main-user-table__content-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 81px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}
.Main-user-table__content-pagination-select {
  display: flex;
  gap: 10px;
}
.Main-user-table__content-pagination-select span {
  color: var(--gray);
  font-weight: 400;
}
.Main-user-table__content-pagination-select select {
  width: 50px;
  border: none;
  font-weight: 400;
  color: #4B506D;
}
.Main-user-table__content-pagination-transition {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gray);
  font-weight: 400;
}
.Main-user-table__content-pagination-transition span {
  font-weight: 400;
}
.Main-user-table__content-pagination-transition-arrows {
  margin-left: 16px;
}
.Main-user-table__content-pagination-transition-arrows svg {
  cursor: pointer;
}
.Main-user-table__content-pagination-transition-arrows svg:last-child {
  transform: rotate(180deg);
}
.Main-user-table__content-icons {
  display: flex;
  gap: 4px;
}
.Main-user-table__content-form-users {
  padding-left: 30px;
  height: 720px;
}
.Main-user-table__content-form-users-inner {
  display: grid;
  grid-template-columns: 344px 344px 344px 344px;
  gap: 40px;
}
.Main-user-table__content-form-item-checkbox {
  display: flex;
  flex-direction: row;
}
.Main-user-table__content-form-item-checkbox div {
  display: flex;
}

.Main-new-user-form {
  width: 100%;
  min-height: 100vh;
  padding: 24px 30px 10px 30px;
}
.Main-new-user-form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}
.Main-new-user-form__top-right, .Main-new-user-form__top-right-info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Main-new-user-form__top-right-border {
  border-left: 1px solid var(--black-light);
  height: 34px;
}
.Main-new-user-form__top-right-user-name {
  width: 190px;
}
.Main-new-user-form__top-right-user-name span:last-child {
  color: var(--gray);
}
.Main-new-user-form__content {
  margin-top: 69px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
}
.Main-new-user-form__content-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 42px 30px;
}
.Main-new-user-form__content-top-search {
  display: flex;
  gap: 30px;
}
.Main-new-user-form__content-form-users {
  padding-left: 30px;
  height: 720px;
}
.Main-new-user-form__content-form-users-inner {
  display: grid;
  grid-template-columns: 344px 344px 344px 344px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b c d" "e f f u";
  gap: 40px;
}
.Main-new-user-form__content-form-item {
  width: 344px;
}
.Main-new-user-form__content-form-item span {
  text-transform: uppercase;
  color: var(--gray);
}
.Main-new-user-form__content-form-item select {
  width: 100%;
  background-size: 20px 20px;
  background-position-x: 308px;
}
.Main-new-user-form__content-form-item select option {
  font-weight: 400;
}
.Main-new-user-form__content-form-item > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.Main-new-user-form__content-form-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 24px;
}
.Main-new-user-form__content-form-buttons a:nth-child(1) {
  color: var(--gray);
}
.Main-new-user-form__content-form-buttons a:nth-child(2) {
  color: white;
  background-color: var(--blue-light);
}
.Main-new-user-form__content-form-buttons a:nth-child(3) {
  color: red;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid red;
}
.Main-new-user-form__content-form-item-checkbox {
  display: flex;
  gap: 24px;
}
.Main-new-user-form__content-form-item-checkbox div {
  display: flex;
  align-items: center;
  gap: 10px;
}

:root {
  --black-light: #363740;
  --black:#252733;
  --black-hover:#3E4049;
  --white: #F7F8FC;
  --gray:#9FA2B4;
  --gray-light:#b5b8c4;
  --blue:#3751FF;
  --blue-light: #315EFB;
  --green:#21A366;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Geometria";
  width: 100%;
  color: var(--black);
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

@font-face {
  font-family: "Geometria";
  src: local("Geometria"), url("../fonts/Geometria-Regular.ttf") format("truetype"), url("../fonts/Geometria-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria"), url("../fonts/Geometria-Medium.ttf") format("truetype"), url("../fonts/Geometria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

input {
  border: 1px solid #EBEDF0;
  border-radius: 8px;
  color: #4B506D;
  padding-left: 16px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

select {
  appearance: none;
  background: url("../public/arrow-select.svg") no-repeat center;
  background-position-x: 10px;
  cursor: pointer;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  color: #4B506D;
  padding-left: 16px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.input-search {
  background: url("../public/search.svg") no-repeat center;
  background-position-x: 20px;
  background-size: 24px;
  padding-left: 54px;
}

input:focus, select:focus {
  outline: none;
}

.span-12 {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.span-14 {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.span-16 {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.span-20 {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.span-24 {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.btn {
  border-radius: 8px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-gray, .icon-green, .icon-red, .icon-plus, .icon-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 7px 5px 7px;
  border-radius: 8px;
  width: 36px;
  height: 26px;
}

.icon-gray {
  background-color: #ECECF0;
}

.icon-green {
  background-color: #29CC97;
  color: white;
}

.icon-red {
  background-color: #FF564E;
  color: white;
}

.icon-plus {
  background-color: var(--blue-light);
  background-image: url("../public/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
}

.icon-refresh {
  background-color: #FEC400;
  background-image: url("../public/refresh.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
}

.checkbox, .radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label, .radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before, .radio + label::before {
  content: "";
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #C5C7CD;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
}

.radio:checked + label::before {
  border: 2px solid var(--blue-light);
  background-color: var(--blue-light);
}

.checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../public/checkbox.svg");
}

/*# sourceMappingURL=global.css.map */
