@import "sideBar-menu/sideBar-menu";
@import "custom-select";
@import "Packages/new-packages/new-packages.css";
@import "Packages/table-packages/table-packages.css";
@import "Users/tabel-user/table-user.css";
@import "Users/import-user/import-user.css";
@import "Users/new-user/new-user.css";
@import "Users/history-package-user/history-package-user.css";
@import "Users/history-documents-user/history-documents-user.css";
@import "Company/table-company/table-company.css";
@import "Company/new-company/new-company.css";
@import "Administrator/table-administrator/table-administrator.css";
@import "Administrator/new-administrator/new-administrator.css";
@import "Activity/table-activity/table-activity.css";
@import "Tech-support/table-support/table-support.css";
@import "Tech-support/support-chat/support-chat.css";
@import "Tech-support-client/index-support-chat/index-support-chat.css";
@import "Tech-support-client/client-support-chat/client-support-chat.css";
@import "Main-top/Main-top.css";
@import "redactor/richText_editor.css";
@import "checkbox.css";
@import "icon.css";
@import "status.css";
:root{
  --black-light: #363740;
  --black:#252733;
  --black-blue: #4B506D;
  --black-hover:#3E4049;
  --white: #F7F8FC;
  --gray:#9FA2B4;
  --gray-light:#b5b8c4;
  --blue:#3751FF;
  --blue-light: #315EFB;
  --green:#21A366;
}
body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Geometria';
  position: relative;
  color: var(--black);
  min-height: 100vh;
}
.wrapper{
  display: flex;
  min-height: 100vh;
}
@font-face {
  font-family: 'Geometria';
  src: local('Geometria'),
  url('../fonts/Geometria-Regular.ttf') format('truetype'),
  url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: local('Geometria'),
  url('../fonts/Geometria-Medium.ttf') format('truetype'),
  url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
*{
  box-sizing: border-box;
}

a{
  display: block;
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4{
  margin: 0;
}

input{
  border: 1px solid #EBEDF0;
  border-radius: 8px;
  color: #4B506D;
  padding-left: 16px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
input[type=date]::-webkit-calendar-picker-indicator{
  background: url("../public/calendar.svg");
  margin-right: 15px;
  cursor: pointer;
}
select{
  appearance: none;
  background: url("../public/arrow-select.svg") no-repeat center;
  background-position-x: 30px ;
  cursor: pointer;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  color: #4B506D;
  padding-left: 16px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  option{
    gap: 20px;
  }

}
.input-search{
  background: url('../public/search.svg') no-repeat center;
  background-position-x: 20px;
  background-size: 24px;
  padding-left: 54px;
}
input:focus,select:focus{
  outline: none;
}
input::placeholder{
  color: var(--gray);
}
span{
  display: block;
}
.span-12{
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.span-14{
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.span-16{
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.span-20{
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
.span-24{
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.btn{
  border-radius: 8px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cancel{
  padding: 0;
  background-color: rgba(0,0,0,0);
  color: var(--gray);
}
.btn-primary-send{
  padding: 0;
  background-color: rgba(0,0,0,0);
  color: var(--blue);
}
.btn-primary{
  color: white;
  background-color: var(--blue-light);
}
.btn-danger{
  color: red;
  background-color: rgba(0,0,0,0);
  border: 1px solid red;
}

.btn-file{
  width: 100%;
  border: 1px solid var(--blue-light);
  label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--blue);
    cursor: pointer;
  }
  input{
    display: none;
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 81px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}
.pagination-select{
  display: flex;
  align-items: center;
  gap: 10px;
  span{
    color: var(--gray);
    font-weight: 400;
  }
  select{
    width: 50px;
    border: none;
    font-weight: 400;
    color: #4B506D;
  }
}
.pagination-transition{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gray);
  font-weight: 400;
  span{
    font-weight: 400;
  }
}
.pagination-transition-arrows{
  margin-left: 16px;
  svg{
    cursor: pointer;
  }
  svg:last-child{
    transform: rotate(180deg);
  }
}
.Drop-down{
  position: relative;
}
.Drop-down-content{
  position: absolute;
  top: 100%;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #DFE0EB;
  display: none;
}
