.Main-company-table__content-table {
    width: 100%;
}
.Main-company-table__content-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding-left: 30px;
}
.Main-company-table__content-table table th {
    color: var(--gray);
    padding-bottom: 14px;
}
.Main-company-table__content-table table th span {
    display: flex;
    gap: 6px;
}
.Main-company-table__content-table table td, .Main-company-table__content-table table th {
    border-bottom: 1px solid #DFE0EB;
    padding-left: 50px;
}
.Main-company-table__content-table table td {
    height: 91px;
}
.Main-company-table__content-table table td:last-child > span {
    display: initial;
    font-weight: 500;
}
.Main-company-table__content-table table tr:hover:not(:last-child), .Main-company-table__content-table table tr:hover:not(td:last-child) {
    background-color: #F7F8FF;
    cursor: pointer;
    z-index: -1;
}
.Main-company-table__content-table table .td-bold {
    font-weight: 500;
}
.Main-company-table__content-icons {
    display: flex;
    gap: 4px;
}

.Main-company-table__content-table table .td-one{
    width: 290px;
}
.Main-company-table__content-table table .td-two{
    width: 152px;
}
.Main-company-table__content-table table .td-three{
    width: 92px;
}
.Main-company-table__content-table table .td-four{
    width: 252px;
}
.Main-company-table__content-table table .td-five{
    width: 204px;
}
.Main-company-table__content-table table .td-six{
    width: 252px;
}