.Main-new-company-form{
  
  &__content-form-company{
	padding-left: 30px;
	height: 720px;
  }
  &__content-form-company-inner{
	display: flex;
	gap: 24px;
  }
  &__content-form-company-inner > div{
	width: (344px * 2 + 24px);
  }
  &__content-form-company-inner > div:first-child{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	div:nth-child(5){
	  width: 100%;
	}
  }
  &__content-form-company-inner > div:last-child{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	div:nth-child(5){
	  width: 100%;
	}
  }
  &__content-form-item{
	width: 344px;
  }
  
  &__content-form-buttons{
	display: flex;
	justify-content: flex-start;
	gap: 24px;
	margin-top: 24px;
  }
}