.Main-new-administrator-form__content-form-admin {
    padding: 0px 30px 30px 30px;
}
.Main-new-administrator-form__content-form-admin-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.Main-new-administrator-form__content-form-item {
    width: 344px;
}
.Main-new-administrator-form__content-form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 24px;
}

@media only screen and (max-width: 1500px) {
    .Main-new-administrator-form__content-form-admin-inner{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1090px) {
    .Main-new-administrator-form__content-form-item{
        width: 100%;
    }
}
