.Main-new-administrator-form{
  
  
  &__content-form-admin{
	padding-left: 30px;
	height: 720px;
  }
  &__content-form-admin-inner{
	display: flex;
	gap: 24px;
  }
  &__content-form-item{
	width: 344px;
  }
  
  &__content-form-buttons{
	display: flex;
	justify-content: flex-start;
	gap: 24px;
	margin-top: 24px;
  }
}