.Main-packages-table__content {
    margin-top: 69px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}
.Main-packages-table__content-top {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px 42px 30px;
}
.Main-packages-table__content-top-search {
    display: flex;
    gap: 30px;
}
.Main-packages-table__content-top-btn-add {
    background-color: var(--blue-light);
    color: var(--white);
}
.Main-packages-table__content-top-btn-import {
    background-color: var(--green);
    color: var(--white);
}
.Main-packages-table__content-top-search > div {
    width: 224px;
    position: relative;
}
.Main-packages-table__content-top-search > div input {
    width: 100%;
}
.Main-packages-table__content-top-search > div input::placeholder {
    color: var(--gray-light);
}
.Main-packages-table__content-table {
    width: 100%;
}
.Main-packages-table__content-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding-left: 30px;
}
.Main-packages-table__content-table table th {
    color: var(--gray);
    padding-bottom: 14px;
}
.Main-packages-table__content-table table th span {
    display: flex;
    gap: 6px;
}
.Main-packages-table__content-table table td, .Main-packages-table__content-table table th {
    border-bottom: 1px solid #DFE0EB;
    padding-left: 50px;
}
.Main-packages-table__content-table table td {
    height: 91px;
}
.Main-packages-table__content-table table tr:hover:not(:last-child) {
    background-color: #F7F8FF;
    cursor: pointer;
}
.Main-packages-table__content-table table .td-bold {
    font-weight: 500;
}


.Main-packages-table__content-table table .td-one{
    width: 148px;
}
.Main-packages-table__content-table table .td-two{
    width: 192px;
}
.Main-packages-table__content-table table .td-three{
    width: 254px;
}
.Main-packages-table__content-table table .td-four{
    width: 194px;
}
.Main-packages-table__content-table table .td-five{
    width: 290px;
}
.Main-packages-table__content-table table .td-six{
    width: 80px;
}
