.sideBar-menu {
    position: relative;
    width: 255px;
    min-height: 100vh;
    background-color: var(--black-light);
}
.sideBar-menu__inner {
    overflow: hidden;
}
.sideBar-menu__inner img {
    margin: 22px 0px 0px 22px;
}
.sideBar-menu__menu {
    margin-top:21px;
}
.sideBar-menu__list {
    display: flex;
    flex-direction: column;
}

.sideBar-menu__item {
    width: 255px;
    height: 56px;
    cursor: pointer;
    border-left: 3px solid transparent;
}
.sideBar-menu__item-svg{
    height: 24px;
}
.sideBar-menu__item:nth-child(7){
    margin-bottom: 15px;
}
.sideBar-menu__menu-list-admin{
    padding-top: 15px;
    border-top: 2px solid #40414A;
}
.sideBar-menu__item a {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 30px;
    position: relative;
    gap: 15px;
    height: 56px;
    width: 100%;
    color: var(--white);
}
.sideBar-menu__button-hide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -13px;
    top: 75px;
    width: 26px;
    height: 26px;
    background-color: var(--black-light);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}
.sideBar-menu__item-active {
    border-left: 3px solid white;
    background-color: var(--black-hover);
}
.sideBar-menu__item:hover {
    background-color: var(--black-hover);
}

.sideBar-active {
    animation: sideBar-active 1s ease;
    animation-fill-mode: forwards;
}

.sideBar-disable {
    animation: sideBar-disable 1s ease;
    animation-fill-mode: forwards;
}

@keyframes sideBar-active {
    from {
        width: 255px;
    }
    to {
        width: 87px;
    }
}
@keyframes sideBar-disable {
    from {
        width: 87px;
    }
    to {
        width: 255px;
    }
}