.Main-support-table__content-table {
    width: 100%;
}
.Main-support-table__content-table table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding-left: 30px;
}
.Main-support-table__content-table table th {
    color: var(--gray);
    padding-bottom: 14px;
}
.Main-support-table__content-table table th span {
    display: flex;
    gap: 6px;
}
.Main-support-table__content-table table td, .Main-support-table__content-table table th {
    border-bottom: 1px solid #DFE0EB;
    padding-left: 40px;
}
.Main-support-table__content-table table td {
    height: 91px;
}
.Main-support-table__content-table table tr:not(:last-child) > td:nth-child(4) span:first-child, .Main-support-table__content-table table td:nth-child(5) span:first-child {
    font-size: 14px;
    font-weight: 500;
}
.Main-support-table__content-table table tr:not(:last-child) > td:nth-child(4) span:last-child, .Main-support-table__content-table table td:nth-child(5) span:last-child {
    color: var(--gray-light);
    font-weight: 400;
}
.Main-support-table__content-table table tr:hover:not(:last-child), .Main-support-table__content-table table tr:hover:not(td:last-child) {
    background-color: #F7F8FF;
    cursor: pointer;
    z-index: -1;
}
.Main-support-table__content-table table .td-bold {
    font-weight: 500;
}
.Main-support-table__content-sort-date {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 234px;
    padding: 14px 11px 14px 17px;
}
.Main-support-table__content-sort-date-input {
    display: flex;
    gap: 6px;
}
.Main-support-table__content-sort-date-input div {
    display: flex;
    align-items: center;
    gap: 6px;
}
.Main-support-table__content-sort-date-input div input {
    height: 26px;
    font-size: 12px;
    font-weight: 500;
}
.Main-support-table__content-sort-button {
    display: flex;
    gap: 16px;
}
.Main-support-table__content-sort-button button {
    height: 26px;
    border-radius: 4px;
}
.Main-support-table__content-sort-status {
    width: 148px;
}
.Main-support-table__content-sort-status-list li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.Main-support-table__content-sort-status-list li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.Main-support-table__content-sort-status-list li {
    height: 26px;
    padding: 6px 0px 6px 14px;
}
.Main-support-table__content-sort-status-list li span {
    color: black;
}
.Main-support-table__content-sort-status-list li:hover {
    background-color: var(--blue-light);
}
.Main-support-table__content-sort-status-list li:hover span {
    color: white;
}

.Main-support-table__content-table table .td-one{
    width: 132px;
}
.Main-support-table__content-table table .td-two{
    width: 320px;
}
.Main-support-table__content-table table .td-three{
    width: 595px;
}
.Main-support-table__content-table table .td-four{
    width: 216px;
}
.Main-support-table__content-table table .td-five{
    width: 154px;
}