.Main-history-package-table__content-table {
    width: 100%;
}
.Main-history-package-table__content-table table th:not(:nth-last-child(-n+2)) span {
    display: flex;
    gap: 6px;
}
.Main-history-package-table__content-table table td, .Main-history-package-table__content-table table th {
    border-bottom: 1px solid #DFE0EB;
    width: 400px;
    padding-left: 30px;
}
.Main-history-package-table__content-table table td:nth-child(5), .Main-history-package-table__content-table table th:nth-child(5) {
    width: 700px;
}

.Main-history-package-table__content-table table tr:not(:last-child) > th:nth-last-child(-n+2), .Main-history-package-table__content-table table td:nth-last-child(-n+2) > div {
    text-align: center;
    margin: 0 auto;
}

.Main-history-package-table__content-icons {
    display: flex;
    gap: 4px;
}