.Main-history-package-table{
  
  &__content-table{
	width: 100%;
	table{
	  width: 100%;
	  text-align: left;
	  border-collapse: collapse;
	  padding-left: 30px;
	  th{
		color: var(--gray);
		//span{
		//  display: flex;
		//  gap: 6px;
		//}
	  }
	  td,th{
		border-bottom: 1px solid #DFE0EB;
		width: 400px;
		padding-left: 30px;
	  }
	  td:nth-child(5),th:nth-child(5){
		width: 700px;
	  }
	  td{
		height: 91px;
	  }
	  tr:hover:not(:last-child),tr:hover:not(td:last-child){
		background-color: #F7F8FF;
		cursor: pointer;
		z-index: -1;
	  }
	  tr:not(:last-child) > th:nth-last-child(-n+2),td:nth-last-child(-n+2) > div{
		text-align: center;
		margin: 0 auto;
	  }
	  .td-bold{
		font-weight: 500;
	  }
	  //tr{
	  //  display: grid;
	  //  grid-template-columns: 130px 192px 254px 194px 290px 150px 104px 70px 80px;
	  //}
	  
	}
  }
  &__content-icons{
	display: flex;
	gap: 4px;
  }
}