.Main-history-package-table__content {
  margin-top: 69px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
}
.Main-history-package-table__content-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px 42px 30px;
}
.Main-history-package-table__content-top-search {
  display: flex;
  gap: 30px;
}
.Main-history-package-table__content-top-btn-add {
  background-color: var(--blue-light);
  color: var(--white);
}
.Main-history-package-table__content-top-btn-import {
  background-color: var(--green);
  color: var(--white);
}
.Main-history-package-table__content-top-search > div {
  width: 224px;
  position: relative;
}
.Main-history-package-table__content-top-search > div input {
  width: 100%;
}
.Main-history-package-table__content-top-search > div input::placeholder {
  color: var(--gray-light);
}
.Main-history-package-table__content-table {
  width: 100%;
}
.Main-history-package-table__content-table table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  padding-left: 30px;
}
.Main-history-package-table__content-table table th {
  color: var(--gray);
}
.Main-history-package-table__content-table table th span {
  display: flex;
  gap: 6px;
}
.Main-history-package-table__content-table table td, .Main-history-package-table__content-table table th {
  border-bottom: 1px solid #DFE0EB;
  width: 400px;
  padding-left: 30px;
}
.Main-history-package-table__content-table table td {
  height: 91px;
}
.Main-history-package-table__content-table table tr:hover:not(:last-child), .Main-history-package-table__content-table table tr:hover:not(td:last-child) {
  background-color: #F7F8FF;
  cursor: pointer;
  z-index: -1;
}
.Main-history-package-table__content-table table .td-bold {
  font-weight: 500;
}
.Main-history-package-table__content-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 81px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
}
.Main-history-package-table__content-pagination-select {
  display: flex;
  gap: 10px;
}
.Main-history-package-table__content-pagination-select span {
  color: var(--gray);
  font-weight: 400;
}
.Main-history-package-table__content-pagination-select select {
  width: 50px;
  border: none;
  font-weight: 400;
  color: #4B506D;
}
.Main-history-package-table__content-pagination-transition {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gray);
  font-weight: 400;
}
.Main-history-package-table__content-pagination-transition span {
  font-weight: 400;
}
.Main-history-package-table__content-pagination-transition-arrows {
  margin-left: 16px;
}
.Main-history-package-table__content-pagination-transition-arrows svg {
  cursor: pointer;
}
.Main-history-package-table__content-pagination-transition-arrows svg:last-child {
  transform: rotate(180deg);
}
.Main-history-package-table__content-icons {
  display: flex;
  gap: 4px;
}
.Main-history-package-table__content-form-users {
  padding-left: 30px;
  height: 720px;
}
.Main-history-package-table__content-form-users-inner {
  display: grid;
  grid-template-columns: 344px 344px 344px 344px;
  gap: 40px;
}
.Main-history-package-table__content-form-item-checkbox {
  display: flex;
  flex-direction: row;
}
.Main-history-package-table__content-form-item-checkbox div {
  display: flex;
}
.Main-history-package-table__package-add, .Main-history-package-table__package-load {
  position: absolute;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(54, 55, 64, 0.6);
}
.Main-history-package-table__package-add-modal {
  width: 428px;
  height: 523px;
  padding: 58px 42px 58px 42px;
  border-radius: 20px;
  background-color: white;
}
.Main-history-package-table__package-add-modal h2 {
  margin: 0px 0px 46px 0px;
}
.Main-history-package-table__package-add-modal form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.Main-history-package-table__package-button {
  display: flex;
  gap: 24px;
}
.Main-history-package-table__package-load-modal {
  width: 796px;
  height: 770px;
  background-color: white;
  border-radius: 20px;
  padding: 58px 42px 58px 42px;
}
.Main-history-package-table__package-load-modal h2 {
  margin: 0px 0px 46px 0px;
}
.Main-history-package-table__package-load-modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.Main-history-package-table__package-load-modal-form > div {
  display: flex;
  gap: 24px;
}
.Main-history-package-table__package-load-modal-form > div:last-child {
  flex-direction: column;
}
.Main-history-package-table__package-modal-table {
  width: 100%;
  height: 100%;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
}
.Main-history-package-table__package-modal-table th {
  color: var(--gray);
}
.Main-history-package-table__package-load-button {
  display: flex;
  gap: 24px;
}

/*# sourceMappingURL=history-documents-user.css.map */
