.Main-administrator-table{
  
  &__content-table{
	width: 100%;
	table{
	  width: 100%;
	  text-align: left;
	  border-collapse: collapse;
	  padding-left: 30px;
	  th{
		color: var(--gray);
		span{
		  display: flex;
		  gap: 6px;
		}
	  }
	  td,th{
		border-bottom: 1px solid #DFE0EB;
		width: 400px;
		padding-left: 30px;
	  }
	  td{
		height: 91px;
		
	  }
	  tr:not(:last-child) td:last-child{
		display: flex;
		gap: 5px;
		align-items: center;
	  }
	  tr:hover:not(:last-child),tr:hover:not(td:last-child){
		background-color: #F7F8FF;
		cursor: pointer;
		z-index: -1;
	  }
	  .td-bold{
		font-weight: 500;
	  }
	  
	}
  }
  &__content-icons{
	display: flex;
	gap: 4px;
  }
  
}