.Main-administrator-table__content-table {
    width: 100%;
}
.Main-administrator-table__content-table table th span {
    display: flex;
    gap: 6px;
}
.Main-administrator-table__registry {
    display: flex;
    gap: 5px;
    align-items: center;
}
.Main-administrator-table__content-icons {
    display: flex;
    gap: 4px;
}

.Main-administrator-table__content-table table .td-one{
    width: 222px;
}
.Main-administrator-table__content-table table .td-two{
    width: 310px;
}
.Main-administrator-table__content-table table .td-three{
    width: 210px;
}