.Main-user-activity-table__content-table {
    width: 100%;
}
.Main-user-activity-table__content-table table th span {
    display: flex;
    gap: 6px;
}
.Main-user-activity-table__registry{
    display: flex;
    gap: 5px;
    align-items: center;
}
.Main-user-activity-table__content-table table .td-one {
    width: 225px;
}
.Main-user-activity-table__content-table table .td-two {
    width: 334px;
}
.Main-user-activity-table__content-table table .td-three {
    width: 208px;
}
.Main-user-activity-table__content-table table .td-four {
    width: 288px;
}
.Main-user-activity-table__content-table table .td-five {
    width: 300px;
}

